In [1]:
# Import libraries Data

import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
#Load EPS Data

xls = pd.ExcelFile("MSA8040_Estimize.xlsx")
EPS_INFO = xls.parse(1)
EPS_INFO.shape

(200, 6)

In [3]:
EPS_INFO.head()

,Ticker_EPS,Quarter_EPS,ReportedEarnings_EPS,EstConsensus_EPS,EstMean_EPS,WSConsensus_EPS
0,AAPL,FQ1 '21,1.68,1.47,1.43,1.42
1,AAPL,FQ2 '21,1.40,1.07,1.01,0.99
2,AAPL,FQ3 '21,1.30,1.16,1.08,1.01
3,AAPL,FQ4 '21,1.24,1.34,1.26,1.24
4,ADBE,FQ4 '20,2.81,2.71,2.70,2.66

In [4]:
EPS_INFO.describe()

       ReportedEarnings_EPS  EstConsensus_EPS  EstMean_EPS  WSConsensus_EPS
count            200.000000        200.000000   200.000000       200.000000
mean               2.117250          1.827500     1.802450         1.634550
std                4.698925          3.845974     3.660029         3.489565
min               -7.500000         -6.730000    -5.930000        -7.080000
25%                0.520000          0.497500     0.477500         0.470000
50%                1.270000          1.150000     1.140000         1.080000
75%                2.247500          2.162500     2.172500         2.012500
max               27.990000         25.650000    24.700000        23.730000

In [5]:
# Calculate Mean EPS to be used as the target variable. 

EPS_INFO["Mean_EPS"] = EPS_INFO[['EstMean_EPS', 'WSConsensus_EPS']].mean(axis=1)
EPS_INFO

,Ticker_EPS,Quarter_EPS,ReportedEarnings_EPS,EstConsensus_EPS,EstMean_EPS,WSConsensus_EPS,Mean_EPS
0,AAPL,FQ1 '21,1.68,1.47,1.43,1.42,1.425
1,AAPL,FQ2 '21,1.40,1.07,1.01,0.99,1.000
2,AAPL,FQ3 '21,1.30,1.16,1.08,1.01,1.045
3,AAPL,FQ4 '21,1.24,1.34,1.26,1.24,1.250
4,ADBE,FQ4 '20,2.81,2.71,2.70,2.66,2.680
...,...,...,...,...,...,...,...
195,WMT,FQ3 '22,1.45,1.50,1.49,1.40,1.445
196,XOM,FQ4 '20,0.03,0.05,0.10,0.01,0.055
197,XOM,FQ1 '21,0.65,0.62,0.56,0.60,0.580
198,XOM,FQ2 '21,1.10,1.06,0.94,1.01,0.975
199,XOM,FQ3 '21,1.58,1.58,1.40,1.56,1.480

In [6]:
# Check for missing values

EPS_INFO.isnull().sum()

Ticker_EPS              0
Quarter_EPS             0
ReportedEarnings_EPS    0
EstConsensus_EPS        0
EstMean_EPS             0
WSConsensus_EPS         0
Mean_EPS                0
dtype: int64

In [7]:
# define independent and dependent variable
#from sklearn.model_selection import train_test_split

X = EPS_INFO.drop(['Ticker_EPS', 'Quarter_EPS', 'EstConsensus_EPS', 'EstMean_EPS', 'WSConsensus_EPS',
 'ReportedEarnings_EPS'], axis=1)
y = EPS_INFO['ReportedEarnings_EPS']

In [8]:
X.head()

   Mean_EPS
0     1.425
1     1.000
2     1.045
3     1.250
4     2.680

In [9]:
y.head()

0    1.68
1    1.40
2    1.30
3    1.24
4    2.81
Name: ReportedEarnings_EPS, dtype: float64

In [10]:
# Run Regression model

lm = linear_model.LinearRegression()
model = lm.fit(X,y)

In [11]:
# This is the R² score of our model. 95.3% of variance of the predictions have been explained by our model.
lm.score(X,y)

0.9532084275022656

In [12]:
# Adding pridicted EPS to our dataset. 
# As you can see our model is able to better predict as compared with Estimize Consensus and Wall Street Consensus overall.

EPS_INFO["EPS_prediction"] = lm.predict(X)
EPS_INFO

,Ticker_EPS,Quarter_EPS,ReportedEarnings_EPS,EstConsensus_EPS,EstMean_EPS,WSConsensus_EPS,Mean_EPS,EPS_prediction
0,AAPL,FQ1 '21,1.68,1.47,1.43,1.42,1.425,1.740069
1,AAPL,FQ2 '21,1.40,1.07,1.01,0.99,1.000,1.193895
2,AAPL,FQ3 '21,1.30,1.16,1.08,1.01,1.045,1.251725
3,AAPL,FQ4 '21,1.24,1.34,1.26,1.24,1.250,1.515173
4,ADBE,FQ4 '20,2.81,2.71,2.70,2.66,2.680,3.352889
...,...,...,...,...,...,...,...,...
195,WMT,FQ3 '22,1.45,1.50,1.49,1.40,1.445,1.765771
196,XOM,FQ4 '20,0.03,0.05,0.10,0.01,0.055,-0.020540
197,XOM,FQ1 '21,0.65,0.62,0.56,0.60,0.580,0.654146
198,XOM,FQ2 '21,1.10,1.06,0.94,1.01,0.975,1.161767
199,XOM,FQ3 '21,1.58,1.58,1.40,1.56,1.480,1.810750